@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

// Primary
$SoftRed: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

// Neutral
$DarkBrown: hsl(25, 47%, 15%);
$MediumBrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$VeryPaleOrange: hsl(33, 100%, 98%);

$fontMain: 'DM Sans', sans-serif;
$fontSize: 18px;