@import '../varibles';

#Summary {
   border-radius: 0 0 15px 15px;
   background-color: $VeryPaleOrange;
   color: $DarkBrown;

   .thin-Text {
      color: $MediumBrown;
      font-size: 17px;
   }
}